<h1>Battle in the Browser</h1><br>
<h2>In order to have a fair game, click the button to decide who goes first</h2><br>
<br>
<br>
<form action="/first_mover" method="post">
      <input type="submit" value="WHO GOES FIRST?">
</form>
