<link rel="stylesheet" href="battle.css" type="text/css" />
<h1>Battle in the Browser</h1><br>
<h2>In order to have a fair game, click the button to decide who goes first</h2><br>
<br>
<br>
<form action="/play" method="get">
      <input class="coin_button" type="submit" value="WHO GOES FIRST?">
</form>
<img src="https://78.media.tumblr.com/cf0b431f9472e7ae28034fc840263625/tumblr_o06fp8RgyF1us21qco2_r1_500.gif" >
