<h2>Battle in the Browser</h2><br>

<h3>Player 1: <%= @p1 %></h3>
<h4>Hit Points: <%= @hp1 %></h4>

<form action="/p1_attacks" method="post">
  <input type="submit" value="Attack P2">
</form>

<br>

<h3>Player 2: <%= @p2 %></h3>
<h4>Hit Points: <%= @hp2 %></h4>

<form action="/p2_attacks" method="post">
  <input type="submit" value="Attack P1">
</form>

