<%= $p1.name%> Hit Points : <%= $p1.hp %>   <br>  
<%= $p2.name%> Hit Points : <%= $p2.hp %> 
<br>
<br>
<form action="/attack" method="post">
      <input type="submit" value="ATTACK OPPONENT">
    </form>
